<!DOCTYPE html>
<html>
<head>
	<title>Index </title>
</head>
<body background='http://freefrontend.com/assets/img/css-checkboxes/all-css-toggle-switch-checkbox-hack.png'>
	<h1>Choose any one.</h1>
	<form action='' method="post">
		<input type='radio' name='gender' value='Male'> Male </input>
		<input type="radio" name="gender" value="Female">Female </input>
		<input type="radio" name='gender' value="Other"> Gay </input>
		<input type='submit' name='submit'> Submit </input>

	</form>


</body>
</html>