<!DOCTYPE html>
<html>
<head>
	<title>Multiple</title>
	<style type="text/css">
		body
		{
			margin: 0px;
			background-color: black;
		}

		canvas
		{
			border: 2px solid green;
		}

		p
		{
			font-family: Shine Personal Use;
			position: absolute;
			top: 200px;
			left: 500px;
			color: white;
			font-size: 50px;
		}
	</style>

</head>
<body>
	<canvas id='something'></canvas>
	<script src="{{ url_for('static', filename='multiple.js') }}" type="text/javascript"></script>
	<p> Guitar Tuner <br> is going to be available soon. </p>

</body>
</html>